@import url(./assets/fonts/fonts.scss);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'OpenSans';
}

body {
  background: rgb(239, 239, 242);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.repos__link.active{
  border-radius: 4px;
  background: rgb(255, 255, 255);
  margin: 2px;
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 30px;
  background: rgb(255, 255, 255);
  width: 100%;
  height: 70px;
}

.nav__logo {
  color: rgb(63, 63, 63);
  font-family: Open Sans;
  font-size: 25px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 585px;
  width: 100%;
  margin: 20px auto;
}

.search {
  margin: 20px auto;
  width: 585px;
  height: 36px;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  display: flex;
}

input::placeholder{
  color: rgb(194, 194, 197);
}

.search__input {
  width: 100%;
  border-radius: 4px 0 0 4px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
}

.search__button {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px 0px 10px;
  border-radius: 0px 4px 4px 0px;
  background: rgb(63, 63, 63);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
}

.visit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 35px;
  border-radius: 6px;
  background: rgb(63, 63, 63);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 300;
  line-height: 120%;
}

.card {
  display: flex;
  padding: 13px 31px;
  margin: 0 auto;
  gap: 10px;
  width: 307px;
  border-radius: 6px;
  background: rgb(255, 255, 255);
}

.card__left {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.card__right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__img {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border: 1px solid rgb(63, 63, 63);
  border-radius: 6px;
}

.card__p {
  color: rgb(63, 63, 63);
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
}

.card__span {
  color: rgb(63, 63, 63);
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
}

h1 {
  color: rgb(63, 63, 63);
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  text-transform: capitalize;
}

.repos__list {
  display: flex;
  width: 350px;
  height: 32px;
  margin: 10px auto;
  background: rgb(224, 224, 224);
  border-radius: 4px;
}

.repos__link {
  color: rgb(63, 63, 63);
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  text-transform: capitalize;
  width: 116px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.repos__item{
width: 585px;
height: 92px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 10px;
margin: 20px 0px;
border-radius: 4px;
background: rgb(255, 255, 255);
}


.repos__item-left{
 display: flex;
 flex-direction: column; 
 padding: 10px;
 gap: 8px;
}
